#input-digitacao{
    box-shadow: 0px 0px 3px 3px blue;
}

#quadro-palavras {
    letter-spacing: 1px;
    font-family: monospace;
}

.letra-ativa {
    background-color: #0066ff;
    color: white;
    border-radius: 2px;
}

.letra-correta {
    color: #00ff88; 
    font-weight: bold;
}
.letra-errada {
    color: #ff011b;
    text-decoration: line-through;
}